@font-face {
  font-family: justsignature;
  src: url('../fonts/justsignature/JustSignature.woff');
}

body,
html {
  width: 100%;
  height: 100%;
}

p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #000;
  font-size: 12px;
}

#id-card {
  position: relative;
  display: none;
  margin: 280px 100px 0 0;
  margin-top: 300xp;
  float: right;
  width: 457px;
  height: 288px;
  padding: 54px 17px 10px 144px;
  background: url("../images/idbg.png");
  background-size: cover;
}

#id-card img {
  position: absolute;
  left: 15px;
  top: 40px;
  width: 126px;
  height: 164px;
}

#id-card  #firstname {
  padding-top: 10px;
  padding-left: 50px;
  font-weight: bolder;
  font-size: 13px;
  color: #282828;
}
#id-card  #lastname {
  position: absolute;
  top: 40px;
  padding-left: 50px;
  font-weight: bolder;
  font-size: 13px;
  color: #282828;
}
#id-card #inline {
  position: absolute;
  top: 109px;
}

#id-card  #dob {
  position: absolute;
  left: 50px;
  top: 15px;
  width: 100px;
}

#id-card  #sex {
  position: absolute;
  left: 50px;
  top:-20px;
}

#id-card  #height {
  position: absolute;
  left: 150px;
  width: 60px;
}

#id-card  #signature {
  position: absolute;
  bottom: 20px;
  left: 152px;
  color: #11091b;
  font-size: 19px;
  text-transform: capitalize;
  font-family: justsignature;
}

/* DRIVER LICENSE*/
#driverlicense {
  position: relative;
  display: none;
  margin: 280px 100px 0 0;
  margin-top: 300xp;
  float: right;
  width: 457px;
  height: 288px;
  padding: 54px 17px 10px 144px;
  background: url("../images/driver.png");
  background-size: cover;
}
#driverlicense img {
  position: absolute;
  left: 20px;
  top: 80px;
  width:  80px;
  height: auto;
}
#driverlicense #lastname {
  position: absolute;
  top: 44px;
  font-weight: bolder;
  font-size: 13px;
  color: #282828;
  padding-left: 5px;
}
#driverlicense #firstname {
  padding-top: 10px;
  padding-left: 2px;
  font-weight: bolder;
  font-size: 13px;
  color: #282828;
  padding-left: 5px;
}
#driverlicense #dob {
  position: absolute;
  width: 100px;
  font-weight: bolder;
  font-size: 13px;
  color: #282828;
  padding-left: 5px;
}

#driverlicense #signature {
  position: absolute;
  bottom: 90px;
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
  font-family: justsignature;
}
#driverlicense #licenses{
  position:absolute;
  bottom: 60px;
  left: 40px;
  text-transform: capitalize;
  font-weight: bolder;
  font-size: 13px;
  color: #282828;
}